<script src="~/js/Istek.js"></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="post_function()">
    <center>
        <h2>ISTEK LISTENİZDEKI ÜRÜNLER</h2>
        <p id="demo"></p>
        <table id="tbl2" style="visibility:hidden;">
            <tr>
                <th>Ürün Resmi</th>
                <th>Ürün Adı</th>
                <th>Fiyat&nbsp </th>
                <th>&nbsp Link</th>
                <th>&nbsp&nbsp</th>
            </tr>
            <tr></tr>
        </table>
        <p id="toplam_fiyat"></p>
    </center>
</body>

