@{
    ViewData["Title"] = "Home Page";
}

<body onload="aranan_yukle()">
    <center>
        Aranacak Ürün : <input type="text" id="aranan_kelime" style="margin-top:2%" />
        <button onclick="Islogin()">Ara</button>
        <br />
        <br />
        <center>
            <div id="aranan_div">
                <p id="aranan_kelimeler"></p>
            </div>
        </center>
        <br />
        <br />
        <p id="demo2"></p>
        <p id="demo"></p>
        <br />
    </center>

    <table id="tbl1" style="width:45% ; display: inline-block;float: left;visibility:hidden;">
        <caption>Migros Sonuçları</caption>
        <tr>
            <th>Ürün Resmi</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Link</th>
        </tr>
        <tr></tr>
    </table>

    <table id="tbl2" style="width:45% ; display: inline-block ;float:right;visibility:hidden;">
        <caption>Carrefoursa Sonuçları</caption>
        <tr>
            <th>Ürün Resmi</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Link</th>
        </tr>
        <tr></tr>
    </table>

</body>